<!DOCTYPE html>
<html>
<head>
  <title>Los Amigos Gordos</title>
</head>
<body>

  <div class="row">
    <div class="large-12 columns">
      <div class="panel">
        <h1>Los Amigos Gordos</h1>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="large-6 columns">

      <ul class="button-group left">
      <form method='<%=login_path%>' action='post'>
        <li>
          <input type='text' placeholder="Username" name='username'/>
        </li>
        <li>
          <input type='text' placeholder='Password' name='password'/>
        </li>
        <a class="tiny button";"round button" href="#">Login</a>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <img src="https://unsplash.imgix.net/reserve/rVvIisyfQwOhZv35PPhh_unsplash.jpg?q=75&fm=jpg&s=18e60f281c1b5277e2f206874d9f0274">

      <hr>
    </div>
  </div>


  <div class="row">
    <div class="large-4 columns">
      <img src="https://ununsplash.imgix.net/reserve/zU6fwmDaSVWZdCXcZfot_IMG_3838.JPG?q=75&fm=jpg&s=d29d60fdb60dc13678a6c7a53babcde4">
    </div>
    <div class="large-8 columns">
      <h4>This is a content section.</h4>
      <div class="row">
        <div class="large-6 columns">
          <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
        </div>
        <div class="large-6 columns">
          <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="large-8 columns">
      <h4>This is a content section.</h4>

      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>

      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

    </div>
    <div class="large-4 columns">
      <img src="https://ununsplash.imgix.net/reserve/unsplash_52a1c2d7d6f4f_1.JPG?q=75&fm=jpg&s=d271a75d2d7ad57ba3b1c3a1a33524bf">
    </div>
  </div>


</body>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
