<p>figure shit out</p>
  <div class="row">
    <br>
    <div class="large-6 columns"><h1>Your Cart</h1></div>
    <div class="large-6 columns">This can be a link to sign in to complete the order</div>
  </div>

  <div class="row">
    <div class="small-9 columns">
      <%= @cart_items %>
    </div>
  </div>

