<div class="row">
  <br>
  <div class="large-6 columns">
    <h1>Editing <%= "#{@item.name}" %></h1>
  </div>
  <div class="large-6 columns">
    <%= link_to 'Back to all Items', admin_items_path, class: "button" %>
  </div>
</div>

<br>

<%= render 'form' %>
