@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
/* line 1, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
.pattern_bg {
  width: auto;
  height: 100%;
  background: url(/assets/restaurant_icons.png);
  text-align: center;
  background-size: auto;
  background-position: center;
  font-family: helvetica;
}

/* line 11, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
div .content_box {
  width: auto;
  height: 100%;
  color: white;
}

/* line 17, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
#chatbox {
  margin-top: 20px;
  margin-bottom: 0px;
  width: auto;
  display: block;
  float: right;
}

/* line 26, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
#iamgodhere_foundation {
  border: 0;
  outline: 0;
  background: none;
  width: 60%;
  height: 30%;
  z-index: -9999;
}

/* line 35, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
canvas {
  position: absolute;
}

/* line 39, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
div .jorge_the_bird {
  float: left;
  padding-bottom: 15px;
  background-color: transparent;
}

/* line 45, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
div #hermano-says {
  background-color: transparent;
  text-align: center;
  width: auto;
  background-size: auto;
  background-position: center;
}

/* line 53, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
#site-content {
  background: url(http://subtlepatterns.com/patterns/subtle_stripes.png);
  background-size: auto;
  background-position: center;
  width: auto;
}

/* line 60, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
#homepage-holder {
  width: auto;
  margin: 0 auto;
}

/* line 65, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
div #container {
  background-color: whitesmoke;
  width: 29%;
  height: 50%;
  text-align: center;
  margin: 20px;
  display: block;
  box-shadow: 0px 6px 1px 3px rgba(187, 187, 187, 0.75);
  -moz-box-shadow: 0px 6px 1px 3px rgba(187, 187, 187, 0.75);
  -webkit-box-shadow: 0px 6px 1px 3px rgba(187, 187, 187, 0.75);
  background-size: auto;
  background-position: center;
}

/* line 81, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
.bubble {
  position: relative;
  text-align: center;
  width: 650px;
  height: 190px;
  padding: 20px;
  float: right;
  margin-top: 30px;
  background: #2ecc71;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  border-radius: 49px;
  border: #2ecc71 solid 10px;
}

/* line 97, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 51px 65px 17px 0;
  border-color: transparent #2ecc71;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -17px;
  left: -65px;
  top: 35%;
}

/* line 112, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 67px 112px 16px 1px;
  border-color: transparent #2ecc71;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -26px;
  left: -84px;
  top: 35%;
}

/* line 126, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
body {
  background: black;
  font-family: 'Varela', sans-serif;
}

/* line 132, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
h1 {
  color: #584B4F;
  font-size: 40px;
  margin: auto;
}

/* line 137, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
h2 {
  color: #584B4F;
  font-size: 30px;
  text-align: center;
  margin-top: -10px;
  z-index: 5;
}

/* line 144, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
.hermano-says:before {
  content: 'Hermano Says...';
  font-family: 'Indie Flower';
}

/* line 149, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
hr {
  border-width: 14px 0px 0px;
  width: auto;
}

/* line 154, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
.button-holder {
  width: 50%;
  margin: 0 auto;
}

/* line 159, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
.image1 {
  width: 260px;
  height: 260px;
  background-repeat: no-repeat;
  color: #CCCCCC;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}

/* line 169, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
.circle-link {
  height: 88%;
  width: 88%;
  margin-top: 6%;
  margin-left: 6%;
  background: rgba(236, 236, 224, 0.8);
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  color: #CCCCCC;
}

/* line 182, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
a:hover {
  background: rgba(118, 184, 227, 0.8);
  color: #969696;
}

/* line 187, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
.text {
  position: relative;
  top: 40%;
  left: 1%;
}

/* line 193, /Users/Tim_Mee/Turing/projects/Dinner-Dash/app/assets/stylesheets/homepage.css.scss */
#oppress-the-button {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
}
