<% case order.state %>
<% when 'ordered' %>
  <h3>Change status:</h3>
    <%= link_to 'Mark as Paid', admin_order_path(:order => {:id => order.id, :state => 'paid'}), method: :put %> |  
    <%= link_to 'Cancel', admin_order_path(:order => {:id => order.id, :state => 'canceled'}), method: :put %>
<% when 'paid' %>
  <h3>Change status:</h3>
    <%= link_to 'Completed', admin_order_path(:order => {:id => order.id, :state => 'completed'}), method: :put %> |
    <%= link_to 'Cancel', admin_order_path(:order => {:id => order.id, :state => 'cancel'}), method: :put %>
<% end %>
