<li>
  <div class="ch-item">
    <div class="ch-info-wrap">
      <div class="ch-info">
        <div class="ch-info-front" style="background-image: url(<%= item.image %>);"></div>
        <div class="ch-info-back">
          <h3><%= "Build a #{item.view_name}" %></h3>
          <p>
            <%= "Starting at: #{number_to_currency(item.price / 100.0)}" %>
            <%= link_to "Get Building!", "/build_item/#{item.id}" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</li>
