<%if flash[:error] %>
  <div data-alert class="alert-box warning">
    Invalid Username or Password,
    Please log in or Sign up.
    <a href="#" class="close">&times;</a>
  </div>
<%end%>

<%if flash[:alert] %>
  <div data-alert class="alert-box success radius">
    You have logged out, Come back soon!
    <a href="#" class="close">&times;</a>
  </div>
<%end%>

<%if flash[:notice] %>
  <div data-alert class="alert-box warning">
    <%= flash[:notice] %>
    <a href="#" class="close">&times;</a>
  </div>
<%end%>
