<div class="content_box">
  <div class="wrapper wrapper--main">
    <section class="container">

      <div class="row" id="hermano-says">
        <div class="large-12 columns" id="chatbox">
          <div class="jorge_the_bird"><%= image_tag "el_gordo_hermano.png", size: "300x350" %></div>
          <div class="bubble"><div id="hermano-text"></h1><br><h2><%= hermano_said %></hr></div></div>
          </div>
        </div>
      </section>
    </div>
  </div>
