<div class="row">
  <ul class = "ch-grid">

  <% @items.each do |item| %>
    <div class="small-4 columns">
      <%= render partial: "shared/circle_image", locals: { item: item } %>
    </div>
  <% end %>

</div>
