
<% @items.each do |item| %>
<div class="row">
  <div class="large-4 columns" id="container">
    <div class="button_holder">
      <div class="image1"><a class="circle-link"><span class="text"><%= link_to "Build #{item.name}", root_path %></span></a>$<%= item.price / 100 %>
      </div>
    </div>
    <div>
      <p><%= item.description %></p>
    </div>
  </div>
  <% end %>
</div>

