<div class="row">
  <br>
  <div class="large-8 columns">
    <h1>Editing <%= "#{@filling.title}" %></h1>
  </div>
  <div class="large-4 columns">
    <%= link_to 'Back to all Fillings', admin_fillings_path, class: "button" %>
  </div>
</div>

<br>

<%= render 'form' %>
