<div class="row">
  <br>
  <div class="large-6 columns"><h1>New Filling</h1></div>
  <div class="large-6 columns"><%= link_to 'Back to all Fillings', admin_fillings_path %></div>
</div>

<%= render 'form' %>
