<body>

<h1>Fillings</h1>



<h3> Burrito </h3>

<p> fillings.each do |f| </p>

<p> f.name        </p>
<p> f.description </p><hr>



<h3> Taco </h3>

<p> fillings.each do |f| </p>

<p> f.name        </p>
<p> f.description </p><hr>



<h3> Burrito Bowl </h3>

<p> fillings.each do |f| </p>

<p> f.name        </p>
<p> f.description </p><hr>



<h3> Quesadilla </h3>

<p> fillings.each do |f| </p>

<p> f.name        </p>
<p> f.description </p>






</body>