.pattern_bg {
  width: 100%;
  height: 100%;
  background-image: image-url("restaurant_icons.png");
  text-align: center;
  background-size: auto;
  background-position: center;
  font-family: helvetica;
}

div .content_box {
  width: 60%;
  height: 100%;
  color: white;
}

div .jorge_the_bird {
  float: left;
  padding-bottom: 15px;
  background-color : transparent;
}

div #hermano-says {
  background-color: transparent;
  text-align: center;
  background-size: auto;
  background-position: center;
}
div #container {
  background-color: whitesmoke;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 6px 1px 3px rgba(236, 236, 224, 0.75);
  -moz-box-shadow: 0px 6px 1px 3px rgba(236, 236, 224, 0.75);
  -webkit-box-shadow: 0px 6px 1px 3px rgba(236, 236, 224, 0.75);
  background-size: auto;
  background-position: center;
}

.bubble
{
  position: relative;
  text-align: center;
  width: 650px;
  height: 200px;
  padding: 0px;
  float: right;
  margin-top: 10px;
  background: #2ecc71;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  border-radius: 49px;
  border: #2ecc71 solid 10px;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 17px 65px 17px 0;
  border-color: transparent #2ecc71;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -17px;
  left: -65px;
  top: 35%;
}

.bubble:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 26px 74px 26px 0;
  border-color: transparent #2ecc71;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -26px;
  left: -84px;
  top: 35%;
}

body{
  background:black;
  font-family: 'Varela', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
h1 {
  color: #584B4F;
  font-size: 40px;
  margin: auto;
}
h2 {
  color: #584B4F;
  font-size: 20px;
  text-align: center;
}
.hermano-says:before {
  content:'Hermano Says...';
  font-family: 'Indie Flower';
}
.face:hover:after {
}
