@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Droid+Serif:400,700|Bangers|Open+Sans|Sansita+One);
.pattern_bg {
  width: auto;
  height: 100%;
  background: url(http://colourlovers.com.s3.amazonaws.com/images/patterns/611/611362.png?1253715157);
  background-size: 11%;
  background-position: center;
  text-align: center;
  font-family: helvetica;
}

#flash {
  display: block;
}

.header {
  width: 100%;
  hr {
    border-color: #584B45;
    margin-bottom: 0;
    margin-top: 0;
    border-width: 10px 0px 0px;
    width: 100%;
    position: relative;
  }
}

#head-holder {
  img {
    width: 45%;
    background-color: transparent;
    margin-bottom: -11%;
  }
  h1 {
    font-family: "Sansita One";
    font-size: 40px;
  }
}

#get-aligned {
  margin: auto 1.5em;
  display: inline-block;
  width: auto;
}

#move-left {
  float:left
}

div .content_box {
  width: auto;;
  height: 100%;
  color: white;
}

#chatbox {
  width: auto;
  display: block;
  float: right;
}


#iamgodhere_foundation {
  border: 0;
  outline: 0;
  background: none;
  width: 60%;
  height: 30%;
  z-index: -9999;
}

#row-fix {
  width: 390px;
  height: auto;
}

canvas {
  position: absolute;
}

div .jorge_the_bird {
  display: inline-block;
  padding-bottom: 15px;
  background-color : transparent;
  z-index: -488484;
}

div #hermano-says {
  background-color: transparent;
  text-align: center;
  width: auto;;
  background-size: auto;
  background-position: center;
}

#site-content {
  background-position: center;
  background-color: #DDDDE6;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px 50px;
  width: 100%;
  margin: auto;
  padding-bottom: 3%;
  padding-top: 3%;
  #bottom {
    position: relative;
    bottom: 3%;
    width: 115%;
    left: -2%;
    border-color: rgb(118, 125, 132);
    border-width: 2px 0px 0px;

  }

}

#homepage-holder {
  width: auto;
  margin: 0 auto;
}

#white-bg {
  background-color: white;
  padding-bottom: 15vh;
  height: auto;
  width: auto;
}

#white-bgg {
  background-color: white;
  padding-bottom: 15vh;
  height: auto;
  width: 290px;
}

div #container {
  background-color: whitesmoke;
  text-align: left;
  box-shadow: 0px 6px 1px 3px rgba(187, 187, 187, 0.75);
  -moz-box-shadow: 0px 6px 1px 3px rgba(187, 187, 187, 0.75);
  -webkit-box-shadow: 0px 6px 1px 3px rgba(187, 187, 187, 0.75);
  margin-bottom: 5%;
  margin-left: 4%;
}

.container {
  float: left;
  padding-left: -3vh;
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  background-color:lightblue;
  color:#FFF;
}
section{
  text-align:center;
}
.footer #button{
  width:35px;
  height:35px;
  border: #727172 12px solid;
  border-radius:35px;
  margin:0 auto;
  position:relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover{
  width:35px;
  height:35px;
  border: #3A3A3A 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position:relative;
}
.footer {
  bottom:0;
  left:0;
  position:fixed;
  width: 100%;
  height: 2em;
  overflow:hidden;
  margin:0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index:999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 10em;
}
.footer #container{
  margin-top:5px;
  width:110%;
  height:100%;
  position:relative;
  top:0;
  left:-10%;
  background: #3A3A3A;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
  width:150px;
  height:auto;
  margin:0 auto;
}
.footer_center{
  width:500px;
  float:left;
  text-align:center;
}
.footer h3{
  font-family: 'Helvetica';
  font-size: 24px;
  font-weight: 100;
  margin-top:70px;
  margin-left:40px;
}

body{
  background:black;
  font-family: 'Varela', sans-serif;
}

h1 {
  color: #584B4F;
  font-size: 45px;
  font-family: "Droid Serif";
}
h2 {
  color: #584B4F;
  font-size: 30px;
  text-align: center;
  margin-top: -10px;
  font-family: "Droid Serif";
}
h3 {
  color: #584B4F;
  font-size: 20px;
  text-align: center;
  font-family: "Droid Serif";
}


hr {
  border-width: 14px 0px 0px;
  width: auto;
  margin: 1em auto;
}

.button-holder {
  width: 50%;
  margin: 0 auto;
}

.image1 {
  width: 260px;
  height: 260px;
  background-repeat:no-repeat;
  color:#CCCCCC;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}

.circle-link {
  height: 88%;
  width: 88%;
  margin-top: 0.7em;
  margin-left: 0em;
  background: rgba(236, 236, 224, 0.8);
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  color:#CCCCCC;
}

a:hover {
  background: rgba(118, 184, 227, 0.8);
  color:#969696;
}

input[type="text"], input[type="password"], input[type="number"] {
  width: 95%;
  border: 1px solid;
  border-radius: 10px;
  left: 2.5%;
}

textarea {
  width: 95%;
  border: 1px solid;
  border-radius: 10px;
  left: 2.5%;
}

.text {
  position: relative;
  top: 40%;
  left: 1%;
}

.oppress-the-button {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10;
  height: 30%;
}

#h1-box{
  position: relative;
  background: url(http://subtlepatterns.com/patterns/photography.png);
  margin-bottom: 3%;
  margin-top: 3%;
  top: -1vh;
 hr {
  position: initial;
  bottom: 0;
  }
  h1 {
    padding-top: 2%;
  }
  p {
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center;
    color: #584B4F;
  }
}
#nav-h1 {
  font-family: "Bangers";
  font-size: 30px;
}
#line_item {
  img {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 40%;
    box-shadow: 14px -6px 30px rgba(8, 0, 0, 0.1);
    margin-bottom: 10%;
    margin-top: 5%;
  }
}
#skinny {
  border-width: 2px 0px 0px;
  border-color: #DDD;
}
body{
  background:#eeeeee;
}
.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after, .ch-item:before {
  content: '';
  display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: default;
}
.ch-info-wrap{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  perspective: 800px;
  transition: all 0.4s ease-in-out;
  top: 20px;
  left: 20px;
  background: #f9f9f9;
  box-shadow:
  0 0 0 20px rgba(255,255,255,0.2),
  inset 0 0 3px rgba(115,114, 23, 0.8);
}
.ch-info{
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out; // FUCK THIS THING
  transform-style: preserve-3d;     // THIS TOO.
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  backface-visibility: hidden;
}
.ch-info .ch-info-back {
  transform: rotate3d(0,1,0,180deg);
  background: #000;
}
.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 90px;
  font-family: 'Open Sans';
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
  display: block;
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: rgba(255,242,34, 0.8);
}
.ch-item:hover .ch-info-wrap {
  box-shadow: 0 0 0 0 rgba(255,255,255,0.8), inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-item:hover .ch-info {
  transform: rotate3d(0,1,0,-180deg);
}
