.pattern_bg {
  width: auto;;
  height: 100%;
  background: image_url("restaurant_icons.png");
  text-align: center;
  background-size: auto;
  background-position: center;
  font-family: helvetica;
}

div .content_box {
  width: auto;;
  height: 100%;
  color: white;
}

#chatbox {
  margin-top: 20px;
  margin-bottom: 0px;
  width: auto;
  display: block;
  float:right;
}


#iamgodhere_foundation {
  border: 0;
  outline: 0;
  background: none;
  width: 60%;
  height: 30%;
  z-index: -9999;
}

canvas {
  position: absolute;
}

div .jorge_the_bird {
  float: left;
  padding-bottom: 15px;
  background-color : transparent;
}

div #hermano-says {
  background-color: transparent;
  text-align: center;
  width: auto;;
  background-size: auto;
  background-position: center;
}

#site-content {
  background: url(http://subtlepatterns.com/patterns/subtle_stripes.png);
  background-size: auto;
  background-position: center;
  width: auto;;
}
div #container {
  background-color: whitesmoke;
  width: 29%;
  height: 50%;
  text-align: center;
  margin: 20px;
  display: block;
  box-shadow: 0px 6px 1px 3px rgba(187, 187, 187, 0.75);
  -moz-box-shadow: 0px 6px 1px 3px rgba(187, 187, 187, 0.75);
  -webkit-box-shadow: 0px 6px 1px 3px rgba(187, 187, 187, 0.75);
  background-size: auto;
  background-position: center;
}


.bubble
{
  position: relative;
  text-align: center;
  width: 650px;
  height: 190px;
  padding: 20px;
  float: right;
  margin-top: 30px;
  background: #2ecc71;
  -webkit-border-radius: 49px;
  -moz-border-radius: 49px;
  border-radius: 49px;
  border: #2ecc71 solid 10px;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 17px 65px 17px 0;
  border-color: transparent #2ecc71;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -17px;
  left: -65px;
  top: 35%;
}

.bubble:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 26px 74px 26px 0;
  border-color: transparent #2ecc71;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -26px;
  left: -84px;
  top: 35%;
}

body{
  background:black;
  font-family: 'Varela', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
h1 {
  color: #584B4F;
  font-size: 40px;
  margin: auto;
}
h2 {
  color: #584B4F;
  font-size: 20px;
  text-align: center;
}
.hermano-says:before {
  content:'Hermano Says...';
  font-family: 'Indie Flower';
}

hr {
  border-width: 14px 0px 0px;
  width: auto;;
}

.button-holder {
  width: 50%;
  margin: 0 auto;
}

.image1 {
  width: 260px;
  height: 260px;
  background-repeat:no-repeat;
  color:#CCCCCC;
  font-size: 24px;
  text-align: center;
  font-family: sans-serif;
}

.circle-link {
  height: 88%;
  width: 88%;
  margin-top: 6%;
  margin-left: 6%;
  background: rgba(236, 236, 224, 0.8);
  display: inline-block;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  color:#CCCCCC;
}

a:hover {
  background: rgba(118, 184, 227, 0.8);
  color:#969696;
}

.text {
  position: relative;
  top: 100px;
  left: 5px;
}

#oppress-the-button {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: 30%;
}
