<h1>Editing <%= "#{@user.first_name} #{@user.last_name}" %></h1>

<%= render 'form' %>

<ul>
  <li><%= link_to 'Show', admin_user_path(@user) %></li>
  <li><%= link_to 'Back', admin_users_path %></li>
</ul>