<div class="row">
  <br>
  <div class="large-6 columns"><h1>New User</h1></div>
  <div class="large-6 columns"><%= link_to 'Back to all Users', admin_users_path %></div>
</div>

<%= render 'form' %>

