<div class="row">
  <div class="large-12 columns text-center">
    <h1>~ Build your meal ~</h1><br/>
    <h2>Which will you choose?</h2>
  </div>
</div><br/>

<div class="row">
  <ul class="small-block-grid-4">
    <% @items.each do |item| %>
        <li>
          <a href="/build_item/<%= item.id %>" class='th'>
            <h4><%= item.name %></h4>
            <%= image_tag(item.image, class: 'th') %>
          </a>
        </li>
    <%end%>
  </ul>
</div>